body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'FilsonPro-Medium';
    src: url('../fonts/FilsonPro-Medium.woff2') format('woff2'),
         url('../fonts/FilsonPro-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.accueil {
    height: 100vh;
    background-image: url(../img/entreprise.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.logo {
    display: flex;
    justify-content: center;
    position: relative;
    top: 275px;
}

.logo img {
    height: 150px;
}

.presentation {
    position: relative;
    top: 315px;
}

.presentation h1 {
    width: 1000px;
    margin: auto;
    font-size: 25px;
    text-align: center;
    font-family: 'FilsonPro-Medium';
    color: #0e0f3b;
}

.down-arrow {
    left: 50%;
    transform: translate(-50%, 0%);
    bottom: 0;
    position: absolute;
}

.down-arrow img {
    height: 115px;
    transition: all 0.5s ease;
}

.down-arrow img:hover {
    height: 130px;
}

.rse {
    padding: 30px 50px;
    background-color: #f3911e;
}

.rse p {
    color: #f6ebd5;
    font-family: 'FilsonPro-Medium';
    font-size: 20px;
    line-height: 30px;
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.stat {
    padding: 50px;
    margin: auto;
    background-color: #f6ebd5;
}

.stat .analyse {
    color: #0e0f3b;
    font-family: 'FilsonPro-Medium';
    font-size: 20px;
    line-height: 30px;
    width: 1400px;
    margin: auto;
}

.each-problem {
    display: flex;
    margin-top: 40px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.each-problem p {
    color: #0e0f3b;
    font-family: 'FilsonPro-Medium';
    font-size: 20px;
    line-height: 30px;
    width: 1000px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 40px;
}

.each-problem img {
    height: 60px;
    width: auto;
}

.trust {
    background-color: #f3911e;
    display: flex;
    padding: 50px 200px;
}

.maquette h2 {
    font-family: 'FilsonPro-Medium';
    color: #f6ebd5;
}

.maquette img {
    height: 300px;
    border-radius: 15px;
}

.access-web {
    text-align: center;
    margin-top: 42px;
    margin-bottom: 40px;
}

.access-web a {
    background-color: #0e0f3b;
    padding: 20px 50px;
    color: #f6ebd5;
    text-decoration: none;
    font-family: 'FilsonPro-Medium';
    border-radius: 30px;
    transition: all 0.5s ease;
    text-transform: uppercase;
}

.access-web a:hover {
    background-color: #f6ebd5; 
    color: #0e0f3b;
}

.agence {
    margin-left: 85px;
}

.agence p {
    font-family: 'FilsonPro-Medium';
    color: #f6ebd5;
    line-height: 20px;
}

.label {
    padding: 50px;
    background-color: #f6ebd5;
}

.label h2 {
    font-family: 'FilsonPro-Medium';
    text-align: center;
    color: #0e0f3b;
}

.criteres {
    display: flex;
    justify-content: space-around;
    width: 1300px;
    margin: auto;
    margin-top: 50px;
}

.each-picto {
    text-align: center;
}

.each-picto img {
    height: 100px;
}

.each-picto p {
    font-family: 'FilsonPro-Medium';
    text-transform: uppercase;
    color: #0e0f3b;
}

.socialnetworks {
    padding: 50px;
    background-color: #f3911e;
    min-height: 310px;
}

.socialnetworks h2 {
    text-align: center;
    font-family: 'FilsonPro-Medium';
    color: #f6ebd5;
    margin: auto;
    width: 1400px;
}

.sondage .access-web {
    margin-bottom: 80px;
}

.links {
    width: 450px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.links img {
    height: 48px;
    transition: all 0.5s ease;
}

.links img:hover {
    height: 58px;
}

footer {
    background-color: #0e0f3b;
}

footer p {
    text-align: center;
    font-family: 'FilsonPro-Medium';
    color: #f6ebd5;
    margin: 0;
    padding: 25px;
}

/* RESPONSIVE */
@media (min-width: 768px) and (max-width: 1024px) {
    .logo {
        top: 50%;
        transform: translate(0px, -50px);
    }

    .logo img {
        height: 90px;
    }

    .presentation {
        top: 400px;
    }

    .presentation h1 {
        display: none;
    }

    .down-arrow img {
        height: 100px;
    }

    .down-arrow img:hover {
        height: 120px;
    }

    .rse p {
        width: unset;
        font-size: 18px;
    }

    .stat .analyse {
        width: unset;
        font-size: 18px;
    }

    .each-problem {
        display: block;
    }

    .each-problem img {
        position: relative;
        left: 50%;
        transform: translate(-50%, 0%);
        margin-bottom: 20px;
    }

    .each-problem p {
        width: unset;
        margin-left: 0;
        font-size: 18px;
    }

    .trust {
        display: block;
        padding: unset;
    }

    .maquette h2 {
        margin: 0;
        padding: 50px 30px;
        padding-bottom: 25px;
    }

    .maquette img {
        position: relative;
        left: 50%;
        transform: translate(-50%, 0%);
        height: 330px;
    }

    .agence {
        margin-left: 0;
        padding: 10px 40px;
        padding-bottom: 25px;
    }

    .agence p {
        line-height: 30px;
        font-size: 18px;
    }

    .label {
        padding: 30px 40px;
    }

    .label h2 {
        font-size: 18px;
    }

    .criteres {
        width: unset;
        display: block;
    }

    .each-picto {
        margin-bottom: 50px;
    }

    .socialnetworks {
        padding: 30px 40px;
    }

    .socialnetworks h2 {
        font-size: 18px;
        width: unset;
    }

    .access-web a {
        padding: 20px 30px;
        font-size: 14px;
    }

    .links {
        width: 325px;
    }
  }

  @media (min-width: 320px) and (max-width: 767px) {
      .logo {
        top: 50%;
        transform: translate(0px, -50px);
      }
        .logo img {
          height: 65px;
        }

        .presentation h1 {
            display: none;
        }

        .down-arrow img {
            height: 60px;
        }

        .down-arrow img:hover {
            height: 80px;
        }

        .rse p {
            width: unset;
            font-size: 18px;
        }

        .stat .analyse {
            width: unset;
            font-size: 18px;
        }

        .each-problem {
            display: block;
        }

        .each-problem img {
            position: relative;
            left: 50%;
            transform: translate(-50%, 0%);
            margin-bottom: 20px;
        }

        .each-problem p {
            width: unset;
            margin-left: 0;
            font-size: 18px;
        }

        .trust {
            display: block;
            padding: unset;
        }

        .maquette h2 {
            margin: 0;
            padding: 50px 30px;
        }

        .maquette img {
            position: relative;
            left: 50%;
            transform: translate(-50%, 0%);
            height: 150px;
        }

        .agence {
            margin-left: 0;
            padding: 10px 40px;
        }

        .agence p {
            line-height: 25px;
        }

        .label {
            padding: 30px 40px;
        }

        .label h2 {
            font-size: 18px;
        }

        .criteres {
            width: unset;
            display: block;
        }

        .each-picto {
            margin-bottom: 50px;
        }

        .socialnetworks {
            padding: 30px 40px;
        }

        .socialnetworks h2 {
            font-size: 17px;
            width: unset;
        }

        .access-web a {
            padding: 20px 30px;
            font-size: 14px;
        }

        .links {
            width: unset;
            width: 275px;
        }
      }